//-html(lang='zh-TW')
//html
html(lang='en')
	head
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		//meta(http-equiv='Content-Type', content='application/xhtml+xml')
		//meta(charset='utf-8')
		title 兒童美術館
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
	body
		script(src='/socket.io/socket.io.js')
		script(src='/js/app.js')